{% extends 'base.html' %}
{% load static %}

{% block title %}
    Inicio
{% endblock title %}

{% block content %}
<br>
    <br>
        <br>
            <br>
                <br>
                <div class="card p-4 m-4">
                    <div class="card-body p-2">
                    <section
                        id="section-jumbotron"
                        style="background-color: #eee"
                        class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
                        <div class="container text-center">
                            <h1 class="display-1 " style="color: rgb(0, 0, 0)"><strong> Bienvenido</strong></h1>
                            <p class="lead" >Este es un Juego de opción múltiple creado por el Grupo 12.</p>
                            
                            <p class="lead" style="color: rgb(125, 129, 129)">Para comenzar</p>
                            <a href="{% url 'login' %}" class="btn btn-lg btn-outline-dark">Inicia Sesión o Registrate</a>
                        </div>
                    </section>
                    </div>      
                </div>
{% endblock content %}