{% extends 'base.html' %}
{% load static %}
{% block title %}
    Admin
{% endblock title %}


{% block content %}
{% include "navbar/navbaradmin.html" %}

<div class="container my-4">
    <div class="jumbotron">

            <h3 class="text-dark text-center"><strong>¡HOLA {{ user.username }}, ESTE ES EL PANEL DEL ADMINISTRADOR! &#128072</strong></h3>
        <div class="row">
            <div class="animated bounceInLeft">
                <div class="card border-success mx-4 my-4">
                    <div class="card-body">
                        <h4 class="card-title">Que puedes hacer:</h4>
                    <p class="card">
                        <ul style="list-style:decimal;">
                            <li><h5>
                                Puedes crear las categorias, preguntas y respuestas.
                            </h5>
                        </li>
                            <li><h5>
                                Puedes ver las categorias, preguntas y respuestas creadas.
                            </h5>
                        </li>                            
                            <li><h5>
                                Puedes ver la tabla de posiciones detalladas de cada usuario.
                            </h5>
                        </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>  

    </div>
</div>


{% endblock content %}