{% extends 'base.html' %}
{% load static %}
{% block title %}
    Admin
{% endblock title %}


{% block content %}
{% include "navbar/navbaradmin.html" %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
            <div class="card">

                <div class="box" >
                        <h4 style="font-family: 'Pacifico', cursive; color:rgb(1, 2, 2)"><strong>Ver Respuestas:</strong></h4>
                        <p class="card">
                            <ul style="list-style:decimal;">
                                <table>
                                
                                    {% for cat in respuesta %}
                                     <h5> Respuesta:
                                         {{cat}}


                                     </h5>
                                    {% endfor %}
                                </table>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>  
        </div>
        


{% endblock content %}