{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 text-center mb-5">
    <h2 class="heading-section">-= INGRESE LAS PREGUNTAS=-</h2>
      <form method="POST">
        {% csrf_token %} 
        <div class="form-group">
          <label>CATEGORIA</label> 
          <input type="text"
        class="form-control id= "categoria" name="categoria">
        </div>
        <div class="form-group">
          <label>N° DE PREGUNTAS</label>
          <input type="text" class="form-control id="numero_de_preguntas"
          name="numero_de_preguntas">
        </div>
        <div class="form-group">
          <label>TIEMPO</label>
          <input type="text" class="form-control id="tiempo" name="tiempo">
        </div>
        <div class="form-group">
          <label>DIFICULTAD</label>
          <input type="text" class="form-control id="dificultad"
          name="dificultad">
        </div>
        <a href="{% url 'admi' %}" class="px-2 py-2 ml-md-1 rounded"
          ><span class="ion-logo-twitter mr-2"></span>GUARDAR</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}