{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'cuest/cuest.js' %}" defer></script> 
{% endblock scripts %}

{% block title %}
{{obj.categoria}}
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col mb-3">
        <b>{{obj.categoria}}</b>
    </div>
    <div class="col text-right" id="timer-box"></div>
</div>

<a href="{% url 'quizes:main-view' %}" class="btn btn-danger mb-3">Atrás</a>

<form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-box"></div>
    <button type="submit" class="btn btn-primary mt-3">Terminar</button>
</form>
<div id="score-box" class="mb-3"></div>
<div id="result-box"></div>
{% endblock content %}