{% extends 'base.html' %}
{% load static %}

{% block title %}
    Resultado
{% endblock title %}

{% block content %}
{% include "navbar/navbarinicio.html" %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
            <div class="card">
                
                <div class="box" >
					<h3 class="">{{respondida.pregunta.texto|safe}}</h3>
							<p>
								<strong>Tu respuesta:</strong>
								{{respondida.respuesta.texto|safe}}
							</p>

							{% if respondida.respuesta.correcta %}
								<h4 class="text-success">Correcto!!!</h4> <h3>&#128079;</h3>
							{% else %}
								<h4 class="text-danger">Upss!!!</h4> <h3>&#128517;</h3>

								{% for respuesta in respondida.pregunta.opciones.all %}

									{% if respuesta.correcta %}

										<h4>La respuesta correcta es: <span class="">{{respuesta}}</span></h4>
										
									{% endif %}

								{% endfor %}

							{% endif %}

							<a href="{% url 'jugar' %}">
								<button class="btn btn-success">
									Siguiente Pregunta
								</button>
							</a>
								
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
